body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #eef1f6;
    margin-bottom: 60px; /* Margin bottom by footer height */
}

html {
    position: relative;
    min-height: 100%;
    font: 100%;
}
